# Project exclude paths
/.gradle/
/.idea/
/build/
/build/classes/java/main/
/src/main/java/com/calculusmaster/pokecord/util/PrivateInfo.java
/src/main/java/com/calculusmaster/pokecord/game/pokemon/data/PokeAPIHelper.java
/incomplete_moves.txt
/data/
/src/main/resources/data/
