# Project exclude paths
/.gradle/
/.idea/
/build/
/build/classes/java/main/
/src/main/resources/PokemonJSONs/
/src/main/java/com/calculusmaster/pokecord/util/PrivateInfo.java
/data/
/incomplete_moves.txt
